/*To remove browser margin and padding*/
* {
  margin: 0;
  padding: 0;
}

*::-webkit-scrollbar {
  display: none;
}



.drawer {
  width: 836px;
}

.react-pdf__Page__canvas,
.react-pdf__Page__textContent,
.react-pdf__Page__annotations {
  margin: 0 auto;
  max-width: 595px !important;
  height: 792px !important;
  width: 100% !important;
  border-radius: 12px;
}
.react-pdf__Page__annotations,
.react-pdf__Page__textContent {
  display: none;
}
.react-pdf__Page {
  border-radius: 12px;
}
